# Matlab auto-saves
# Windows default autosave extension
*.asv
# OSX / *nix default autosave extension
*.m~

# MacOS X
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Unix / Linux hidden directories and files
.*
!.gitignore
*~

# KDE
.directory

# Emacs
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

